.o_list_view .o_list_table thead {
    position: sticky;
    top: 0;
    z-index:999;
}
.o_list_view .o_list_table thead tr th:before{
    content: '';
    position: absolute;
    left: -1px;
    top: 0;
    height: 100%;
    border-left: 1px solid var(--ListRenderer-thead-border-end-color);
}
.table-responsive{
    overflow: visible;
}
.o_list_view .table-responsive .table thead {
    z-index: 1;
}

.o_field_x2many .table-responsive {
    overflow: auto!important;
}
.o_account_reports_page .table-responsive {
    overflow-x: auto !important;
}
